.block{
    width: 90%;
	margin:auto;	
	border: 1px solid #203659;
	font-family: Arial;
}
.head{
	height:150px;
	width:100%;
background-color:#203659;}
.cat{
	height:120px;width:120px;border-radius:100%;
margin-top:20px;}
h2{color:white;
margin-left:140px;
margin-top:-100px;}
.cat-eating{height:150px;width:200px;
display:inline-block;margin:30px;border-radius:50px/50px;}
.cat-playing{height:150px;width:200px;
display:inline-block;margin:30px;}
.cat-sleeping{height:150px;width:200px;
display:inline-block;margin:30px;border-radius:50px/50px;}
.text-block{margin:0 auto;
width:90%;
	background-color:#e4ed9c;
	text-align:center;
}
.footer{height:75px;width:100%;background-color:#203659;margin-top:-10px;}







